/* PROPIEDADES CSS ESTUDADAS */

.titulo-pagina{
    text-align: center;
    font-style: italic;
    font-size: 3em;
    font-weight: 900;
    font-family: "roboto", sans-serif;
    color:aqua;
    margin: 10px;
}

.nome-da-propiedade{
    font-size 2em;
    font-weight: 500px;
    font-family: "roboto" ,sans-serif;
    color: brown;
    padding: 20px;
}

.valor-da-propiedade{
    font-size: 1,5em;
    font-weight: 400px;
    font-family: 'roboto', sans-serif;
    color: black;
    padding: 30px;
}


/* PROPIEDADES CSS ESTUDADAS */

/* BLOCOS */

.bloco-1-fontes-diferentes{
    background-color: lightblue;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2-fontes-diferentes{
    background-color: lightpink;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3-fontes-diferentes{
    background-color: red;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 90px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

/* CONTAINERS */

.container{
    display: flex;
    flex-direction: row;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-row{
    display: flex;
    flex-direction: row;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-column{
    display: flex;
    flex-direction: column;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-column-reverse{
    display: flex;
    flex-direction: column-reverse;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-row-reverse{
    display: flex;
    flex-direction: row-reverse;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-justify-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-justify-flex-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-justify-flex-end{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-justify-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-justify-space-around{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-justify-space-evenly{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-align-items-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-align-items-flex-start{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-align-items-flex-end{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-align-items-stretch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.bloco-1-sem-altura{
    background-color: lightblue;
    
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2-sem-altura{
    background-color: lightpink;
    
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3-sem-altura{
    background-color: red;
    
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-1{
    background-color: lightblue;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2{
    background-color: lightpink;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3{
    background-color: red;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container-align-items-baseline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-flex-wrap-nowrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-flex-wrap-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-flex-wrap-wrap-reverse{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

/* VAMOS ESTUDAR UMA PROPEIDADE SHORTHAND */
.container-flex-flow-row-nowrap{
    display: flex;
   /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    /* flex-wrap: nowrap;  */
    flex-flow: row nowrap;  /*shorthand!! */
    /* indiferente */
    background-color:#f9eac3;
    padding: 16px;
    height: 500px;
}



#nome-propiedade-shorthand{
    font-size: 2em;
    
    color: aqua;

}

.container-align-content-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-align-content-flex-start{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-align-content-flex-end{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-end;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-align-content-space-between{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-align-content-space-around{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.container-align-content-space-evenly{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
    /* indiferente */
    background-color: #f9eac3;
    padding: 16px;
    height: 500px;
}

.menu{
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-style: normal;
    flex-flow: row;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style-type: none;
}

li {
    margin-right: 20px;
}